In [5]:

ss = {"prompt": "A dataset which contain some customers who are withdrawing their account from the bank due to some loss and other issues with the help this data we try to analyse and maintain accuracy.\nThe following data is in a csv format. \n The columns of this dataset includesRowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited\n\n ------------- \nRowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,101348.88,1\n2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0\n3,15619304,Onio,502,France,Female,42,8,159660.8,3,1,0,113931.57,1", "completion": "4,15701354,Boni,699,France,Female,39,1,0,2,0,0,93826.63,0\n5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.1,0\n6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1"}

for k in ss.keys():
    print(k, ':')
    print(ss[k], '\n\n')

prompt :
A dataset which contain some customers who are withdrawing their account from the bank due to some loss and other issues with the help this data we try to analyse and maintain accuracy.
The following data is in a csv format.
 The columns of this dataset includesRowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited

 -------------
RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.8,3,1,0,113931.57,1


completion :
4,15701354,Boni,699,France,Female,39,1,0,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.1,0
6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1